body {
    background-color: white;

}

.container-fluid {
    background-color: white;
    background-image: url(imagens/darkbg.jp2);
    background-repeat: no-repeat;
    margin-bottom: 10%;
    height: 200%;
    background-size: 100%;
    
}

.menu-dark{
  background-image: url(imagens/darkbg.jp2);
}


.Dark-menu{
  background-image: url(imagens/darkbg.jp2);
  background-repeat: no-repeat;
  margin-bottom: 10%;
  /* height: 200%; */
  background-size: 100%;
}

#rodape {
    background-color: black;

}

h3 {
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    padding-left: 43px;
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/gill-sans.otf);
  }

  @font-face {
    font-family: GilLight;
    src: url(fonts/gill-sans-ce-light.otf);
  }

  .logosemfundo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 25%;

  }

  .logocomfundo {
    display: block;
    margin-left: 25%;
    margin-right: auto;
    margin-top: 40%;
    width: 50%;
  }


  .logocomfundo1 {
    display: block;
    margin-left: 40%;
    margin-right: auto;
    margin-top: 0px;
    max-height: 150px
  }

  .logocomfundo2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 20%;
  }

  .logocomfundofinal{
    display: block;
    margin-left: 40%;
    margin-right: auto;
    margin-top: auto;
    width: 30%;

  }

#logoscabecalho {
  display: flex;

}

.facebook {
  display: flex;
  margin-left: 20%;
  margin-top: 0px;
  width: 70px;
  
}

.insta {
  display: flex;
  margin-right: 0px;
  margin-top: 0px;
  padding-left: 5px;
  width: 70px;
}

  #dark {
    display: flex;
    font-style: normal;
    font-weight: 300;
    font-size: 144px;
    line-height: 163px;
    letter-spacing: 0.6em;
    font-family: GilLight;
    color: #FFFFFF;
    align-items: center;
    text-align: center;

  }

  .card {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    display: flex;
  }

.card-header {
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 41px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.card-body {
    margin-left: 20px;
    margin-right: 20px;
    font-family: Montserrat-Light;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}


.card-footer {
    margin-left: 20px;
    margin-right: 20px;
    font-family: Montserrat-Light;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 41px;
    display: block;
    align-items: center;
    color: #FFFFFF;

}

.form-group {
    font-family: Montserrat-Light;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: block;
    align-items: center;
    color: #FFFFFF;
    
}

.info {
    font-family: Montserrat-Light;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}


.form-control1{
  margin-bottom: 7px;
  width: 100%;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 15px;
  background: #EBD016;
  height: 40px;
  text-align: left;
  padding-left: 10px;
}

.form-control2{
  width: 100%;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 15px;
  background: #EBD016;
  height: 40px;
  text-align: left;
  padding-left: 10px;
}

#button {

    background: #EBD016;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: #000000;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 40%;
}


.card2 {
    background-color: white;
    
  }

  .card-header2 {
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #EBD016;

  }

  .card-body2 {
    font-family: Montserrat-Light;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
  }

  #pessoasbg {
    background-color: white;
    background-image: url(imagens/pessoasbg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .card3 {
    background: #EBD016;
    border-radius: 25px;
    margin-top: 20%;
    margin-left: 10%;
    margin-bottom: 20%;
  }

  .card-header3 {
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: #2A2B49;;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
  }

  .card-body3 {
    font-family: Montserrat-Light;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    text-transform: none;
    color: #000000;
    padding-right: 5%;
    padding-left: 5%;
  }

  .card-footer3 {
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
  }


  .form-control11{
    margin-bottom: 7px;
    width: 100%;
    border: 2px solid #8B8989;
    box-sizing: border-box;
    border-radius: 15px;
    background: black;
    height: 40px;
    text-align: left;
    padding-left: 10px;
    color: black;
}

.form-control22{
    width: 100%;
    border: 2px solid #8B8989;
    box-sizing: border-box;
    border-radius: 15px;
    background: black;
    height: 40px;
    text-align: left;
    padding-left: 10px;
    color: black;;
}

#button2 {

    background: #2A2B49;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-left: 30%;
}


.msgdownload{
font-family: Montserrat-Bold;
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 59px;
text-align: center;
color: #EBD016;
}

.msgdownload2{
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
}

.download{
  /* width: 1182px;
height: 640px;
left: 369px;
top: 195px; */
background-color: black;
}

@media (min-width: 768px){

  #dark {
    font-size: 100px;
      }

  .container-fluid {
        background-color: white;
        background-image: url(imagens/darkbg.jpg);
        background-repeat: no-repeat;
        margin-bottom: 2%;
        background-size: 140%;
     }

}

.container-fluid-tks{

  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 10%;
  height: 200%;
  background-size: 170%;

}

.container-mensagem{
  background: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  width: 50%;
  margin-left: 10%;
  margin-top: 5%;
  max-height: 400px;
}

.container-mensagem-Tnkspage{
  background: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  max-height: 450px;
}

.container-fluid-apx-serie{
  background-color: white;
  background-image: url(imagens/pessoasbg.jpg);
  background-repeat: no-repeat;
  background-size: 140%;
  /* margin-bottom: 10%; */
  /* height: 250%;
  background-size: 100%; */
  
}

.msgdownload3{
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
  }

  .ul-menu{
    height: 50px;
    color: white;
  }






  .container-fluid-lgbtqi {
    background-color: white;
    background-image: url(imagens/lgbtqi.png);
    background-repeat: no-repeat;
    margin-bottom: 10%;
    height: 250%;
    background-size: 100%;

}

.container-mensagem-lgbtqi{
  background:white;
  border-radius: 25px;
  margin-left: 10%;
  margin-right: 10%;
  height: 300px;
}

.msgdownload-lgbtqi{
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 59px;
  text-align: center;
  color: #EBD016;
  }
  
  .msgdownload2-lgbtqi{
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    color: black;
    margin: 5%;
  }

  #bglgbtqi {
    background-color: white;
    background-image: url(imagens/lgbtqi.png);
    /* background-repeat: no-repeat; */
    background-size: 100%;
    align-items: center;
    text-align: center;
    display: flex
  }

  #txtorgulho {
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 158px;
    color: #FFFFFF;
    transform: rotate(-90deg);

  }


  .card-header-orgulho {
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 41px;
    display: flex;
    align-items: center;
    color: black;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.card-body-orgulho {
    margin-left: 20px;
    margin-right: 20px;
    font-family: Montserrat-Light;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: black;
    text-align: left;
}


.card-footer-orgulho {
    margin-left: 20px;
    margin-right: 20px;
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 41px;
    display: block;
    align-items: center;
    color: black;

}

.info-orgulho {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

#card-orgulho {
  background: white;
  border-radius: 25px;
  display: flex;
  margin: 10%;
}

.form-control111{
  margin-bottom: 7px;
  width: 100%;
  border: 2px solid #8B8989;
  box-sizing: border-box;
  border-radius: 15px;
  background: white;
  height: 40px;
  text-align: left;
  padding-left: 10px;

}

.form-control222{
  width: 100%;
  border: 2px solid #8B8989;
  box-sizing: border-box;
  border-radius: 15px;
  background: white;
  height: 40px;
  text-align: left;
  padding-left: 10px;

}


@font-face {
  font-family: Montserrat-Light;
  src: url(fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(fonts/Montserrat-Bold.ttf);
}








